%body-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
}

%buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
}

%input-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
