@import "../../style/utils/variables";
@import "../../style/utils/placeholders";

.PasswordGenerator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__password-block {
    display: flex;
    align-items: center;
    width: 800px;
    padding: 10px 5px;

    margin-bottom: 20px;
    border: 2px solid $secondary-color;
    border-radius: 15px;

    & .Icon {
      margin-right: 10px;
    }
  }

  &__password-block-input {
    @extend %input-text;
    padding: 0;
    width: 100%;
    outline: none;
    border: none;
    color: $main-text-color;
    background-color: transparent;
  }

  &__buttons-block {
    margin-bottom: 20px;

    & .Button:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__length-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__length-text {
    margin-right: 10px;
  }

  &__length-count {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
  }

  &__length-range {
    appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 15px;
    background-color: $secondary-color;
  }

  &__length-range::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: $secondary-color;
    border: 1px solid #d6dac8;
    border-radius: 50%;
  }

  &__params-block {
    display: flex;
  }

  &__params-field {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__params-checkbox {
    width: 20px;
    height: 20px;
    accent-color: $secondary-color;
  }
}
